<!-- <div class="container">
    <ul>
        <li>Végétaux d'ornement</li>
        <li>Ecojardin</li>
        <li>Botanique</li>
        <li>Potager</li>
        <li>Permaculture</li>
        <li>Biodiversité domestique et sauvage</li>
    </ul>
   
</div> -->












 <div class="container">
    <div class="cadre">
        
             <div class="sous-cadre">
                <h1>Formation - Conseil</h1>
                <h3 class="sous-titre">centres de formation et particuliers</h3>
                <hr>
                <ul>
                    <li>Végétaux d'ornement</li>
                    <li>Ecojardin</li>
                    <li>Botanique</li>
                    <li>Potager</li>
                    <li>Permaculture</li>
                    <li>Biodiversité domestique et sauvage</li>
                </ul>
            </div> 
        </div>
    
    <div class="imgback"></div>
</div> 